<h2 class="mb-4 h3">Ingresá tus datos</h2>
<form method="" action="#" name="login">

    <div class="form-group">
        <label for="username">Usuario:</label>
        <input type="text" name="usuario" id="username" class="form-control">
        <span class="invalid-feedback"></span>
    </div>
    <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" name="password" id="password" class="form-control">
        <span class="invalid-feedback"></span>
    </div>

    <button type="submit" class="btn btn-success">Ingresar</button>
</form>

<p>
    <a id="back-link" href="/">Cancelar</a>
</p>

<p>¿Aún no estas registrado? <a href="add.php">Click aquí</a></p>

<script>
    (function () {
        if (document.referrer &&
            document.location.host &&
            document.referrer.match(new RegExp("^https?://" + document.location.host))) {

            document.getElementById("back-link").setAttribute("href", document.referrer);
        }
    })();

    /*
    const username = document.querySelector("#username");
    const password = document.querySelector("#password");

    const form = document.login;

    form.onsubmit = function (e) {
        let val1 = username.name + "=" + encodeURIComponent(username.value);
        let val2 = password.name + "=" + encodeURIComponent(password.value);
        const formData = val1 + "&" + val2;
        console.log("Datos de formulario\n" + formData);
        return false;
    }
    
    Datos de formulario
    usuario=Neo&password=Abc123
    */
</script>