*:active,*:hover,*:focus {
    outline: none;
    box-shadow: none !important;
}

label {
    margin-bottom: .25rem;
    font-weight: 600;
}

form .material-icons {
    font-size: 22px;
}

/* .invalid-feedback {
    display: block;
    visibility: hidden;
    height: 19.2px;
}

.is-invalid~.invalid-feedback,
.is-invalid~.invalid-tooltip,
.was-validated :invalid~.invalid-feedback,
.was-validated :invalid~.invalid-tooltip {
    visibility: visible;
} */