<section style="width: 100%;max-width: 420px;margin: auto;">

    <div class="card">
        <div class="card-body">

            <div>
                <h1 class="h2">Registro de Usuario</h1>
                <p class="text-muted">Registrarse</p>
            </div>

            <form action="">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">person</i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nombre de usuario"
                        aria-label="Nombre de usuario">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">email</i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Correo electrónico"
                        aria-label="Correo electrónico">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">lock</i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Contraseña" aria-label="Contraseña">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">lock</i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Confirmación" aria-label="Confirmación">
                </div>

                <!-- Select Paises -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id-pais"><i class="material-icons">flag</i></label>
                    </div>
                    <select class="custom-select" id="id-pais">
                        <option value="0">Seleccione un país</option>
                        <?php foreach($countries as $pais): ?>
                        <option value="<?= $pais['id_pais']; ?>"><?= $pais['nombre']; ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>

                <!-- Select Provincias -->
                <div class="input-group mb-3" id="wrapper-provincia" style="display: none;">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id-provincia"><i
                                class="material-icons">my_location</i></label>
                    </div>
                    <select class="custom-select" id="id-provincia">
                        <option value="0">Seleccione una provincia</option>
                        <option value="1">BUENOS AIRES</option>
                        <option value="2">CATAMARCA</option>
                        <option value="3">CHACO</option>
                        <option value="4">CHUBUT</option>
                        <option value="5">CIUDAD AUTONOMA DE BUENOS AIRES</option>
                        <option value="6">CORDOBA</option>
                        <option value="7">CORRIENTES</option>
                        <option value="8">ENTRE RIOS</option>
                        <option value="9">FORMOSA</option>
                        <option value="10">JUJUY</option>
                        <option value="11">LA PAMPA</option>
                        <option value="12">LA RIOJA</option>
                        <option value="13">MENDOZA</option>
                        <option value="14">MISIONES</option>
                        <option value="15">NEUQUEN</option>
                        <option value="16">RIO NEGRO</option>
                        <option value="17">SALTA</option>
                        <option value="18">SAN JUAN</option>
                        <option value="19">SAN LUIS</option>
                        <option value="20">SANTA CRUZ</option>
                        <option value="21">SANTA FE</option>
                        <option value="22">SANTIAGO DEL ESTERO</option>
                        <option value="23">TIERRA DEL FUEGO</option>
                        <option value="24">TUCUMAN</option>
                    </select>
                </div>

                <!-- Select Localidades -->
                <div class="input-group mb-3" id="wrapper-localidad" style="display: none;">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id-localidad"><i
                                class="material-icons">location_city</i></label>
                    </div>
                    <select class="custom-select" id="id-localidad">
                        <option value="0">Seleccione una localidad</option>
                    </select>
                </div>

                <button class="btn btn-block btn-primary">Registrar</button>

            </form>
        </div>
    </div>

</section>

<script src="js/functions.js"></script>

<script>

    (() => {
        console.log('Init anonymous function.');
    })();

    const paisEl = document.querySelector('#id-pais');
    const provinciaEl = document.querySelector('#id-provincia');
    const localidadEl = document.querySelector('#id-localidad');

    document.addEventListener('DOMContentLoaded', () => {
        initChangeCountry()
        initChangeProvince();
    });

    function initChangeCountry() {

        if (!paisEl) return;

        paisEl.onchange = function () {
            if (!validId(this.value, 1, 249) || this.value != 12) {
                document.querySelector("#id-provincia")[0].selected = true;
                document.querySelector("#wrapper-provincia").style.display = 'none';
                reset();
                return;
            }

            document.querySelector("#wrapper-provincia").style.display = '';
        }
    }

    function loadCountries(response) {
        let newOption;
        const $fragment = document.createDocumentFragment();
        let rows = JSON.parse(response);
        rows.unshift({ id_pais: "0", nombre: "Seleccione un país" });
        rows.forEach(row => {
            newOption = document.createElement("option");
            newOption.value = row.id_pais;
            newOption.text = `${row.nombre}`;
            // add the new option 
            try {
                // this will fail in DOM browsers but is needed for IE
                $fragment.add(newOption);
            } catch (e) {
                $fragment.appendChild(newOption);
            }
        });

        paisEl.appendChild($fragment);
    }

    function initChangeProvince() {
        if (!provinciaEl && !localidadEl) {
            return;
        }

        provinciaEl.onchange = () => {
            if (provinciaEl.value === '5') {
                reset();
                let newOption = document.createElement("option");
                newOption.value = 5001;
                newOption.text = "CIUDAD AUTONOMA DE BUENOS AIRES";
                try {
                    localidadEl.add(newOption);
                } catch (e) {
                    localidadEl.appendChild(newOption);
                }
                document.querySelector("#wrapper-localidad").style.display = '';
                return;
            }

            if (!validId(provinciaEl.value, 1, 24)) {
                reset();
                return;
            }

            let data = "provincia=" + encodeURIComponent(provinciaEl.value);

            sendHttpRequest('POST', 'process_request.php', data, loadLocalities);
        }
    }

    function loadLocalities(response) {
        let newOption;
        const $fragment = document.createDocumentFragment();
        let rows = JSON.parse(response);

        reset();

        rows.forEach(row => {
            newOption = document.createElement("option");
            newOption.value = row.id_localidad;
            newOption.text = `${row.nombre} (${row.codigo_postal})`;
            // add the new option 
            try {
                // this will fail in DOM browsers but is needed for IE
                $fragment.add(newOption);
            } catch (e) {
                $fragment.appendChild(newOption);
            }
        });

        localidadEl.appendChild($fragment);
        document.querySelector("#wrapper-localidad").style.display = '';
    }

    function reset() {
        localidadEl.options.length = 0;
        localidadEl.options[0] = new Option("Seleccione una localidad");
        localidadEl.options[0].value = 0;

        document.querySelector("#wrapper-localidad").style.display = 'none';
    }

</script>