<section style="width: 100%;max-width: 420px;margin: auto;">

    <div class="card">
        <div class="card-body">

            <div>
                <h1 class="h2">Registro de Usuario</h1>
                <p class="text-muted">Registrarse</p>
            </div>

            <form action="">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">person</i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nombre de usuario"
                        aria-label="Nombre de usuario">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">email</i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Correo electrónico"
                        aria-label="Correo electrónico">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">lock</i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Contraseña" aria-label="Contraseña">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">lock</i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Confirmación" aria-label="Confirmación">
                </div>

                <!-- Select Paises -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id-pais"><i class="material-icons">flag</i></label>
                    </div>

                    <select class="custom-select" id="id-pais">
                        <option value="">- Seleccione un país -</option>
                        <?php foreach($countries as $pais): ?>
                        <option value="<?= $pais['id_pais']; ?>">
                            <?= $pais['nombre']; ?>
                        </option>
                        <?php endforeach; ?>
                    </select>

                </div>

                <!-- Select Provincias -->
                <div class="input-group mb-3" id="wrapper-provincia" style="display: none;">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id-provincia"><i
                                class="material-icons">my_location</i></label>
                    </div>

                    <select class="custom-select" id="id-provincia">
                        <option value="">- Seleccione una provincia -</option>
                        <option value="1">BUENOS AIRES</option>
                        <option value="2">CATAMARCA</option>
                        <option value="3">CHACO</option>
                        <option value="4">CHUBUT</option>
                        <option value="5">CIUDAD AUTONOMA DE BUENOS AIRES</option>
                        <option value="6">CORDOBA</option>
                        <option value="7">CORRIENTES</option>
                        <option value="8">ENTRE RIOS</option>
                        <option value="9">FORMOSA</option>
                        <option value="10">JUJUY</option>
                        <option value="11">LA PAMPA</option>
                        <option value="12">LA RIOJA</option>
                        <option value="13">MENDOZA</option>
                        <option value="14">MISIONES</option>
                        <option value="15">NEUQUEN</option>
                        <option value="16">RIO NEGRO</option>
                        <option value="17">SALTA</option>
                        <option value="18">SAN JUAN</option>
                        <option value="19">SAN LUIS</option>
                        <option value="20">SANTA CRUZ</option>
                        <option value="21">SANTA FE</option>
                        <option value="22">SANTIAGO DEL ESTERO</option>
                        <option value="23">TIERRA DEL FUEGO</option>
                        <option value="24">TUCUMAN</option>
                    </select>

                </div>

                <!-- Select Localidades -->
                <div class="input-group mb-3" id="wrapper-localidad" style="display: none;">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id-localidad"><i
                                class="material-icons">location_city</i></label>
                    </div>

                    <select class="custom-select" id="id-localidad">
                        <option value="">- Seleccione una localidad -</option>
                    </select>

                </div>

                <button class="btn btn-block btn-primary">Registrar</button>

            </form>
        </div>
    </div>

</section>

<script src="js/functions.js"></script>

<script>

    (() => {
        console.log('Init anonymous function.');
    })();

    const selectPais = document.querySelector('select#id-pais');
    const selectProvincia = document.querySelector('select#id-provincia');
    const selectLocalidad = document.querySelector('select#id-localidad');

    document.addEventListener('DOMContentLoaded', () => {
        initOnChangeCountry()
        initOnChangeProvince();
    });

    const initOnChangeCountry = () => {
        if (!selectPais) return;
        selectPais.onchange = function (e) { return handleChangeCountry(this, e); }
    }

    const handleChangeCountry = (objSelect, objEvent) => {
        if (!selectProvincia) return;
        selectProvincia.disabled = true;
        document.querySelector("#wrapper-provincia").style.display = 'none';
        document.querySelector("#wrapper-localidad").style.display = 'none';
        removeOptions(selectLocalidad);
        if (objSelect.selectedIndex > 0) {
            selectProvincia.disabled = false;
            const value = objSelect.value;
            if (!isValidId(value, 1, 249)) return;
            document.querySelector("#wrapper-provincia").style.display = '';
            selectProvincia.selectedIndex = 0; // selectProvincia.options[0].selected = true;
        }
    }

    const initOnChangeProvince = () => {
        if (!selectProvincia) return;
        selectProvincia.onchange = function (e) { return handleChangeProvince(this, e); }
    }

    const handleChangeProvince = (objSelect, objEvent) => {
        if (!selectLocalidad) return;
        selectLocalidad.disabled = true;
        removeOptions(selectLocalidad);
        document.querySelector("#wrapper-localidad").style.display = '';
        if (objSelect.selectedIndex > 0) {
            selectLocalidad.disabled = false;
            const value = objSelect.value;
            if (!isValidId(value, 1, 24)) return;
            if (value === '5') {
                createOptions(selectLocalidad, [{ id_localidad: "5001", nombre: "CIUDAD AUTONOMA DE BUENOS AIRES", codigo_postal: "" }]);
            } else {
                const formData = "provincia=" + encodeURIComponent(value);
                sendHttpRequest('POST', 'process_request.php', formData, loadLocalities);
            }
        }
    }

    const loadLocalities = (response) => {
        const data = JSON.parse(response);
        createOptions(selectLocalidad, data);
    }
</script>